@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Bellota Text", helvetica, sans-serif;
    padding: 35px;
    font-size: 1.3em;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero img{
    width: 100%;
    margin: 0;
}
#hero h1, #hero h4{
    text-align: center;
    color: white;
}
.button-box{
    text-align: center;
}
main{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1fr 10);
}
#background{
    height: 725px;
    background-color: #09E667;
    grid-column: 1/11;
    grid-row: 5/8;
}
.mountains{
    width: 100%;
}
body{
    background-color: white;
    font-family: "Bellota Text", helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
header{
    background-color: #09E6B2;
    display: grid;
    grid-template-columns: 150px auto;
    opacity: 0.5;
}
nav a:hover{
    text-decoration: underline;

}
.book, .join{
    background-color: #098AE6;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    text-decoration: underline;
}
.msg{
    background-color: #09E6B2;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 0;
    grid-column: 6/10;
    grid-row: 6/7;
}
footer{
    background-color: #098AE6;
    color: white;
    padding: 25px 50px;
}
.home-title{
    color: black;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: black;
}
h2{
    margin: 0;
}
.msg p{
    color: white;
    font-size: 0.8em;
    padding-bottom: 15px;
}
.msg h2{
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
.logo{
    width: 80px;
}
.icon{
    width: 80 px;
    padding-top: 10px;
}
footer p{
    font-size: 1.2em;
}
footer p:hover{
    text-decoration: none;
}
footer .social img{
    padding-top: 15px;
}
.card1, .card2, .card3{
    margin: 200px 0;
}
.card-img{
    border: 4px solid black;
}
nav{
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.card-img, .mountains {
    width: 100%;
}
.card1 {
    grid-column: 2/4;
    grid-row: 2/3;
}
.card2 {
    grid-column: 5/7;
    grid-row: 2/3;
}
.card3 {
    grid-column: 8/10;
    grid-row: 2/3;

}