body{
    margin: 0;
    background-color: rgb(110, 159, 210);
}
main{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
img{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#list{
    text-align: left;
    font-weight: bold;
}
#title{
    color: white
}
#title:hover{
    color: black;

}
.blockquote{
    margin: 0 auto;
    width: 65%;
    color: white
}
.edquote{
    color: white;
}
.quotename{
    color: white;
    font-weight: bold;
}
.foot p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}